* {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

:root { 
  --font-family: 'Cormorant Garamond', serif;
}

a {
  color: black;
  text-decoration: none;
}

img {
  object-fit: cover;
  object-position: center;
}